/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {

        macros {
                scrn_rgt: scrn_rgt {
                        label = "scrn_rgt";
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings
                                = <&macro_tap &kp LCTRL &kp RALT &kp LGUI &kp RIGHT>;
                };

                scrn_lft: scrn_lft {
                        label = "scrn_lft";
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings
                                = <&macro_tap &kp LCTRL &kp RALT &kp LGUI &kp LEFT>;
                };

                scrn_up: scrn_up {
                        label = "scrn_up";
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings
                                = <&macro_tap &kp LCTRL &kp RALT &kp LGUI &kp UP>;
                };

                scrn_dwn: scrn_dwn {
                        label = "scrn_dwn";
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings
                                = <&macro_tap &kp LCTRL &kp RALT &kp LGUI &kp DOWN>;
                };

                scrn_full: scrn_full {
                        label = "scrn_full";
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings
                                = <&macro_tap &kp LCTRL &kp RALT &kp LGUI &kp M>;
                };
        };

        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -----------------------------------------------------------------------------------------
// | ESC  |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I   |  O  |  P  | BKSP |
// | TAB  |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K   |  L  |  ;  |  '   |
// | CTRL |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,   |  .  |  /  | ALT  |
//                    | GUI | LWR | ENT |   | SPC | RSE  | SHFT |
                        bindings = <
   &kp ESC   &kp Q &kp W &kp E    &kp R &kp T     &kp Y     &kp U &kp I     &kp O   &kp P    &kp BSPC
   &kp TAB   &kp A &kp S &kp D    &kp F &kp G     &kp H     &kp J &kp K     &kp L   &kp SEMI &kp SQT
   &kp LCTRL &kp Z &kp X &kp C    &kp V &kp B     &kp N     &kp M &kp COMMA &kp DOT &kp FSLH &kp RALT
                         &kp LGUI &mo 1 &kp RET   &kp SPACE &mo 2 &kp RSHFT
                        >;
                };
                lower_layer {
// -----------------------------------------------------------------------------------------
// |  `   |  &  |  *  |  (  |  )  |     |   | SCRN_LFT | SCRN_RGT | SCRN_UP | SCRN_DWN |     | BKSP |
// |   ~  |  $  |  %  |  ^  |     |     |   |     -    |     =    |    [    |     ]    |  |  |      |
// | CTRL |  !  |  @  |  #  |     |     |   |     _    |     +    |    {    |     }    |  \  |  ALT |
//                    | GUI |     | ENT |   |    SPC   |          |   SHFT  |
                        bindings = <
   &kp GRAVE &kp AMPS &kp ASTRK &kp LPAR  &kp RPAR &trans    &scrn_lft &scrn_rgt &scrn_up &scrn_dwn &scrn_full &kp BSPC
   &kp TILDE &kp DLLR &kp PRCNT &kp CARET &trans   &trans    &kp MINUS &kp EQUAL &kp LBKT &kp RBKT  &kp PIPE   &trans
   &kp LCTRL &kp EXCL &kp AT    &kp HASH  &trans   &trans    &kp UNDER &kp PLUS  &kp LBRC &kp RBRC  &kp BSLH   &kp RALT
                                &kp LGUI  &trans   &kp RET   &kp SPACE &trans    &kp RSHFT
                        >;
                };

                raise_layer {
// -----------------------------------------------------------------------------------------
// |  ESC |  7  |  8  |  9  |  0  |     |   | BT_CLR | BT_1 |  BT_2 | BT_3 | BT_4 | BKSP |
// | TAB  |  4  |  5  |  6  |     |     |   | PG_UP  | HOME |  UP   | END  |      |      |
// | CTRL |  1  |  2  |  3  |     |     |   | PG_DWN | LFT  |  DWN  | RGT  |      | ALT  |
//                    | GUI |     | ENT |   | SPC    |      | SHFT  |
                        bindings = <
   &kp ESC   &kp N7 &kp N8 &kp N9   &kp N0 &trans    &bt BT_CLR &bt BET_SEL 0 &bt BET_SEL 1 &bt BET_SEL 2 &bt BET_SEL 3 &kp BSPC
   &kp TAB   &kp N4 &kp N5 &kp N6   &trans &trans    &kp PG_UP  &kp HOME      &kp UP        &kp END       &trans        &trans
   &kp LCTRL &kp N1 &kp N2 &kp N3   &trans &trans    &kp PG_DN  &kp LEFT      &kp DOWN      &kp RIGHT     &trans        &kp RALT
                           &kp LGUI &trans &kp RET   &kp SPACE  &trans        &kp RSHFT
                        >;
                };
        };
};
